/** サイドのモジュール **/
@import '../../variable';

// コンテンツボックス設定
.contents-box {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;

    // コンテンツ画像設定
    .contents-image {
        margin-bottom: 10px;
    }

    // コンテンツテキスト設定
    .contents-text {
        font-size: 12px;
        text-align: center;
    }
}
