/** サイドのモジュール **/
@import '../../variable';

// 3-2:サイドーエリア
.aside-area {

}

.side-box {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

// 表示文字設定
.title-text {
    text-align: center;
}

// リンク設定
.link {
    color: $black;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

// LINEアイコン設定
.line-icon {
    margin-bottom: 5px;
}
