/* ヘッダーのモジュール */
@import '../../variable';

// 1:ヘッダーエリア
.header-area {
    @include fontLobster;
    background: $black;
    width: 100%;
    z-index: 100;
    position: fixed;
}

.img-area {
    width: 100%;
    height: auto;
    line-height: 0;
    img {
        width: 100%;
        height: auto;
    }
}

// コンテンツフレーム
.frame-zone {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 15px;
}

// 表示文字設定
.title-text {
    font-size: 50px;
    font-style: italic;
    @media screen and (max-width: $sp-max-width) {
        font-size: 30px;
    }
}

// リンク設定
.link {
    color: $white;
    text-decoration: none;
}
