/* ナビゲーションのモジュール */
@import '../../variable';

// 1.5:ナビゲーションエリア
.nav-area {
    @include fontLobster;
    background: $black;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 90px;
    left: 0;
}

// コンテンツフレーム
.frame-zone {
    margin: 0 auto;
    text-align: center;
}

// 表示文字設定
.text-color {
    color: $white;
}

// リンク設定
.link {
    color: $white;
}

// ボタン設定
.btn-style {
    display: inline;
    a {
        display: block;
        padding: 10px;
        &:hover {
            background-color: $white-skelton;
        }
    }
    p {
        padding: 10px;
    }
    @media screen and (max-width: $sp-max-width) {
        display: none;
    }
}



