/** ナビゲーションのモジュール **/
@import '../../variable';

// ボタン設定
.btn-style {
    display: inline;

    // 文字列がリンクの場合
    .link {
        display: block;
        color: $white;
        padding: 10px;
        &:hover {
            background-color: $white-skelton;
            color: $black;
        }
    }

    // 文字列がテキストの場合
    .texts {
        color: $white;
        padding: 7.5px 10px;
    }
}



