/** 共通設定 **/
@import 'variable';

// フレックス設定
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $sp-max-width) {
        display: block;
    }
}

// h1レベル見出し設定
.h1 {
    @include fontLobster;
    font-size: 40px;
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    @media screen and (max-width: $sp-max-width) {
        font-size: 25px;
        padding-top: 0;
        margin-bottom: 20px;
    }
}

// h2レベル見出し設定
.h2 {
    @include fontLobster;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid $black;
    margin-bottom: 20px;
}

// pレベル段落設定
.p {
    padding: 0 10px;
    margin-bottom: 20px;
}
