/* ヘッダーのモジュール */
// 1:ヘッダーエリア
.header-area {
    background: blue;
    img {
        width: 100%;
    }
}

// コンテンツフレーム
.frame-zone {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 15px;
}

// 表示文字設定
.title-text {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

// リンク設定
.link {
    color: white;
    text-decoration: none;
}
