/* レイアウトのモジュール */
@import 'variable';

// 2:コンテンツエリア
.contents-area {
    background-image: url(../images/bg-penki.png);
    padding-top: 125px;
    @media screen and (max-width: $sp-max-width) {
        padding-top: 70px;
    }
}

// コンテンツフレーム
.frame-zone {
    background: $white-skelton;
    margin: 0 auto;
}

// フレックス設定
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $sp-max-width) {
        display: block;
    }
}

// 2-1:メインエリア
.main-area {
    width: 85%;
    border-right: 1px solid $black;
    @media screen and (max-width: $sp-max-width) {
        width: 100%;
        border-right: none;
    }
}

// 2-2:サイドエリア
.aside-area {
    width: 15%;
    @media screen and (max-width: $sp-max-width) {
        width: 100%;
        border-top: 1px solid $black;
    }
}

// エリア内コンテンツフレーム
.contents-frame {
    padding: 20px;
}
