/* レイアウトのモジュール */
@import 'variable';

// 1:ヘッダーエリア
.header-area {
    @include fontLobster;
    background: $black;
    width: 100%;
    z-index: 100;
    position: fixed;
}

// 2:ナビゲーションエリア
.nav-area {
    @include fontLobster;
    background: $black;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 90px;
    left: 0;
}

// 3:コンテンツエリア
.contents-area {
    background-image: url(../images/bg-penki.png);
    padding-top: 125px;
    @media screen and (max-width: $sp-max-width) {
        padding-top: 70px;
    }
}

// コンテンツフレーム
.frame-zone {
    background: $white-skelton;
    margin: 0 auto;
}

// フレックス設定
.flex-box {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $sp-max-width) {
        display: block;
    }
}

// 3-1:メインエリア
.main-area {
    width: 85%;
    border-right: 1px solid $black;
    @media screen and (max-width: $sp-max-width) {
        width: 100%;
        border-right: none;
    }
}

// 3-2:サイドエリア
.aside-area {
    width: 15%;
    @media screen and (max-width: $sp-max-width) {
        width: 100%;
        border-top: 1px solid $black;
    }
}

// エリア内コンテンツフレーム
.contents-frame {
    padding: 20px;
}

// 4:フッターエリア
.footer-area {
    background: $black;
    @include fontLobster;
    @media screen and (max-width: $sp-max-width) {
        background: $black-skelton;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
