/** 初期設定 **/
@import 'variable';

// 全体設定
body {
    font-family: 'Oswald', 'Nico Moji', serif;
    font-size: 16px;
}

// リンク設定
a {
    color: $black;
    text-decoration: none;
    img:hover {
        background-color: rgba(100, 100, 100, 0.5);
    }
}
