/** 変数定義 **/
// width定義
$sp-max-width: 768px;

// カラー定義
$black: black;
$white: white;
$black-skelton: rgba(0, 0, 0, 0.5);
$black-skelton-high: rgba(0, 0, 0, 0.8);
$white-skelton: rgba(255, 255, 255, 0.8);

// 画像定義
$image-penki: url(../images/bg-penki.png);

// z-index定義
$z-index-header: 100;
$z-index-navigation: 100;
$z-index-footer: 100;

// 共通処理
@mixin fontLobster {
    font-family: 'Lobster', cursive;
}
