/** Gallery画面共通のモジュール **/
@import '../../variable';

// メインコンテナ（月別タイトル＋月単位のコンテナ）
.main-container {
    // 月単位のコンテナ
    .month-container {
        padding-top: 20px;
        padding-left: 120px;
        flex-wrap: wrap;
        @media screen and (max-width: $sp-max-width) {
            padding-left: 0;
        }

        // コンテンツ単位のコンテナ
        .contents-container {
            width: 200px;
            margin-bottom: 20px;
            padding-right: 20px;
            @media screen and (max-width: $sp-max-width) {
                margin: 0 auto 20px auto;
                padding-right: 0;
            }

            // 画像イメージの設定
            .image-contents {
                margin-bottom: 20px;
            }
        }
    }
}



