/** Gallery画面共通のモジュール **/
@import '../../variable';

// 月別フォルダ
.month-folder {
    width: 60px;
    .month-title {
        @include fontLobster;
        font-size: 12px;
        text-align: center;
        @media screen and (max-width: $sp-max-width) {
            font-size: 12px;
        }
    }
}

// メインコンテナ（月別タイトル＋月単位のコンテナ）
.main-container {
    .spacer-for-id {
        padding-top: 160px;
        @media screen and (max-width: $sp-max-width) {
            padding-top: 90px;
        }
    }

    // 月単位のコンテナ
    .month-container {
        padding-left: 120px;
        @media screen and (max-width: $sp-max-width) {
            padding-left: 0;
        }

        // コンテンツ単位のコンテナ
        .contents-container {
            width: 200px;
            margin-bottom: 20px;
            padding-right: 20px;
            @media screen and (max-width: $sp-max-width) {
                margin: 0 auto 20px auto;
                padding-right: 0;
            }

            // 画像イメージの設定
            .image-contents {
                margin-bottom: 20px;
            }
        }
    }
}



